In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from collections import Counter

In [6]:
df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [7]:
# How many products cost more than $10.00?
df['item_price'] = df['item_price'].str.replace('$', '')
df['item_price'] = df['item_price'].astype(float)
df['item_price'].dtype

dtype('float64')

In [22]:
# df_filter = df.drop_duplicates(['item_name', 'choice_description', 'quantity']) # 중복 행 제거 
# df_filter.head()

# one_pro = df_filter.loc[df_filter['item_price'] > 10, :]
# one_pro.shape

# Step 1: Clean item_price
# df['item_price'] = df['item_price'].str.replace('$', '', regex=False).astype(float)

# Step 2: Remove duplicates
df_filtered = df.drop_duplicates(['item_name', 'quantity', 'choice_description'])

# Step 3: Select rows with quantity == 1
df_one_product = df_filtered[df_filtered['quantity'] == 1]

# Step 4: Count unique products costing more than $10
num_expensive_products = df_one_product[df_one_product['item_price'] > 10]['item_name'].nunique()
print(num_expensive_products)

25

In [30]:
# What is the price of each item?
per_price = df.loc[df['quantity'] == 1, :]
per_price = per_price.drop(columns = ['choice_description', 'order_id', 'quantity'])
per_price['item_name'].unique()

per_price.sort_values(by='item_price', ascending=False)

                item_name  item_price
606      Steak Salad Bowl       11.89
3208  Barbacoa Salad Bowl       11.89
2957     Steak Salad Bowl       11.89
2401     Steak Salad Bowl       11.89
4313     Steak Salad Bowl       11.89
...                   ...         ...
1945          Canned Soda        1.09
2850          Canned Soda        1.09
3683          Canned Soda        1.09
261           Canned Soda        1.09
3221          Canned Soda        1.09

[4355 rows x 2 columns]

In [31]:
# Sort by the name of the item
df['item_name'].sort_values()

3389    6 Pack Soft Drink
341     6 Pack Soft Drink
1849    6 Pack Soft Drink
1860    6 Pack Soft Drink
2713    6 Pack Soft Drink
              ...
2384    Veggie Soft Tacos
781     Veggie Soft Tacos
2851    Veggie Soft Tacos
1699    Veggie Soft Tacos
1395    Veggie Soft Tacos
Name: item_name, Length: 4622, dtype: object

In [36]:
# What was the quantity of the most expensive item orderd?

most = df.loc[df['quantity']==1, :]

most = most.sort_values(by='item_price', ascending=False)
most.head()

,order_id,quantity,item_name,choice_description,item_price
606,250,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Pinto Beans, Cheese, Gua...",11.89
3208,1283,1,Barbacoa Salad Bowl,"[Tomatillo Red Chili Salsa, [Black Beans, Chee...",11.89
2957,1176,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Black Beans, Cheese, Gua...",11.89
2401,953,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Guaca...",11.89
4313,1720,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.89

In [38]:
df.sort_values(by='item_price', ascending=False).head(1)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

In [39]:
# How many tiems was a Veggie Salad Bowl ordered?
df.loc[df['item_name'] == 'Veggie Salad Bowl', :].count()

order_id              18
quantity              18
item_name             18
choice_description    18
item_price            18
dtype: int64

In [41]:
# How many times did someone order more than one Canned Soda?
df.loc[(df['item_name'] == 'Canned Soda') & (df['quantity'] > 1), :].count()

order_id              20
quantity              20
item_name             20
choice_description    20
item_price            20
dtype: int64