In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from collections import Counter
import datetime

In [2]:
train = pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/dataset/main/data_6_2_train.csv')
test = pd.read_csv('https://raw.githubusercontent.com/youngjinBD/dataset/main/data_6_2_test.csv')

train.head()

   일평균수면시간  일평균학습시간  일평균스마트폰사용시간      키     몸무게  체격   기초대사량 거주지역    구분
0     7.35     7.74          4.8   Tall  52.050   L  1499.4   동구  고등학생
1     7.05     8.10          1.2   Tall  51.300   M  1624.4   서구   중학생
2     7.35     7.74          3.0   Tall  51.285   L  1499.4   동구  고등학생
3     8.58     6.66          4.8  Short  25.545  XS  1249.5   서구  초등학생
4     7.05     8.10          4.8   Tall  54.150   M  1624.4   서구   대학생

### **학생 530명에 대한 학습용(train) 데이터를 이용하여 학생 구분(유치원생, 초등학생, 중학생, 고등학생, 대학생) 예측 모형을 만든 후, 이를 평가용(test) 데이터에 적용하여 얻은 230명 학생의 구분을 다음과 같은 형식의 csv 파일로 생성하시오.**

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 530 entries, 0 to 529
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   일평균수면시간      530 non-null    float64
 1   일평균학습시간      530 non-null    float64
 2   일평균스마트폰사용시간  530 non-null    float64
 3   키            530 non-null    object
 4   몸무게          530 non-null    float64
 5   체격           530 non-null    object
 6   기초대사량        530 non-null    float64
 7   거주지역         530 non-null    object
 8   구분           530 non-null    object
dtypes: float64(5), object(4)
memory usage: 37.4+ KB

In [4]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   일평균수면시간      230 non-null    float64
 1   일평균학습시간      230 non-null    float64
 2   일평균스마트폰사용시간  230 non-null    float64
 3   키            230 non-null    object
 4   몸무게          230 non-null    float64
 5   체격           230 non-null    object
 6   기초대사량        230 non-null    float64
 7   거주지역         230 non-null    object
dtypes: float64(5), object(3)
memory usage: 14.5+ KB

In [5]:
# 학습용 데이터 결측치 확인
train.isnull().sum()

일평균수면시간        0
일평균학습시간        0
일평균스마트폰사용시간    0
키              0
몸무게            0
체격             0
기초대사량          0
거주지역           0
구분             0
dtype: int64

In [6]:
# 학습용 데이터의 타겟 값 분포 확인
train['구분'].value_counts()

구분
유치원생    140
초등학생    121
고등학생    120
대학생      78
중학생      71
Name: count, dtype: int64

In [7]:
# 테스트용 데이터 데이터타입 확인
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   일평균수면시간      230 non-null    float64
 1   일평균학습시간      230 non-null    float64
 2   일평균스마트폰사용시간  230 non-null    float64
 3   키            230 non-null    object
 4   몸무게          230 non-null    float64
 5   체격           230 non-null    object
 6   기초대사량        230 non-null    float64
 7   거주지역         230 non-null    object
dtypes: float64(5), object(3)
memory usage: 14.5+ KB

# **describe(include='object')**
### **데이터 타입이 object인 열만 포함하여 통계 요약 계산**

In [9]:
# 테스트용 데이터 기초 통계 확인
test.describe(include='object')

            키   체격 거주지역
count     230  230  230
unique      2    4    4
top     Short   XS   북구
freq      126  126   74

In [11]:
# 테스트용 데이터 결측치 확인
test.isnull().sum()

일평균수면시간        0
일평균학습시간        0
일평균스마트폰사용시간    0
키              0
몸무게            0
체격             0
기초대사량          0
거주지역           0
dtype: int64

## **pop(): 지정된 열을 데이터프레임에서 제거하고 그 열의 데이터 반환**

In [14]:
# 학습용 데이터 타겟 값 처리
target = train.pop('구분')
target

0      고등학생
1       중학생
2      고등학생
3      초등학생
4       대학생
       ...
525    초등학생
526    고등학생
527     중학생
528    유치원생
529    고등학생
Name: 구분, Length: 530, dtype: object

In [17]:
train.head()

   일평균수면시간  일평균학습시간  일평균스마트폰사용시간      키     몸무게  체격   기초대사량 거주지역
0     7.35     7.74          4.8   Tall  52.050   L  1499.4   동구
1     7.05     8.10          1.2   Tall  51.300   M  1624.4   서구
2     7.35     7.74          3.0   Tall  51.285   L  1499.4   동구
3     8.58     6.66          4.8  Short  25.545  XS  1249.5   서구
4     7.05     8.10          4.8   Tall  54.150   M  1624.4   서구

In [16]:
copy = pd.get_dummies(train)
copy

,일평균수면시간,일평균학습시간,일평균스마트폰사용시간,몸무게,기초대사량,키_Short,키_Tall,체격_L,체격_M,체격_S,체격_XS,거주지역_남구,거주지역_동구,거주지역_북구,거주지역_서구
0,7.35,7.74,4.8,52.050,1499.4,False,True,True,False,False,False,False,True,False,False
1,7.05,8.10,1.2,51.300,1624.4,False,True,False,True,False,False,False,False,False,True
2,7.35,7.74,3.0,51.285,1499.4,False,True,True,False,False,False,False,True,False,False
3,8.58,6.66,4.8,25.545,1249.5,True,False,False,False,False,True,False,False,False,True
4,7.05,8.10,4.8,54.150,1624.4,False,True,False,True,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
525,10.11,5.58,4.8,25.185,1874.3,True,False,False,False,False,True,False,True,False,False
526,8.27,6.84,1.2,51.165,2124.2,False,True,False,True,False,False,False,True,False,False
527,7.35,7.74,1.2,40.995,1499.4,False,True,True,False,False,False,False,True,False,False
528,10.11,5.58,0.0,18.330,1874.3,True,False,False,False,False,True,False,True,False,False
529,6.44,8.82,3.0,44.535,1499.4,False,True,False,False,True,False,False,True,False,False

# **데이터 인코딩**
## **pd.get_dummies()**

In [18]:
# 학습용/테스트용 데이터의 인코딩 진행
print(test.shape, test.shape)

train = pd.get_dummies(train) 
test = pd.get_dummies(test)

print(test.shape, test.shape)

(230, 8) (230, 8)
(230, 15) (230, 15)

# **from sklearn.model_selection import train_test_split**

### **train_x, validation_x, train_y, validation_y**

In [21]:
# 학습용 데이터를 이용한 검증용(validation) 데이터 생성(분할)
from sklearn.model_selection import train_test_split

train_x, validation_x, train_y, validation_y = train_test_split(train, target, 
                                                                test_size=0.3, random_state=0)

print(train_x.shape, validation_x.shape, train_y.shape, validation_y.shape)

(371, 15) (159, 15) (371,) (159,)

# **from sklearn.ensemble import RandomForestClassifier**
# **from sklearn.metrics import f1_score**

In [23]:
# 분류 모델 생성
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import f1_score

rfc = RandomForestClassifier(random_state=0)
rfc.fit(train_x, train_y)
prediction_val = rfc.predict(validation_x)

f1_score(validation_y, prediction_val, average='macro')

0.9388573021181716

### **클래스는 타겟 변수(y)가 가질 수 있는 값(범주 또는 레이블)을 의미한다.**
### **분류 문제에서 타켓 변수(y)의 범주 값을 나타낸다**

# average = 'macro' 
- 클래스의 데이터 비율에 관계없이 각 클래스의 성능이 동일하게 반영 
- 모든 클래스의 중요도가 동일

# average = 'micro' 
- 모든 클래스의 개별 계산을 무시하고, 전체 참/거짓의 총합을 기준으로 성능 계산
- 클래스 간 데이터 비율(크기) 차이가 클 때 적합 

# average = 'weighted'
- 각 클래스의 데이터 비율에 따라 가중 평균 계산
- 클래스 간 데이터 크기가 다를 때 유용

# average = 'samples'
- 다중 레이블 문제에서 각 샘플에 대해 개별적으로 매트릭을 계산하고, 그 평균을 반환

In [25]:
# 테스트 데이터로 예측, 결과 파일 생성
prediction_test = rfc.predict(test)

result = pd.DataFrame({'pred':prediction_test})
print(result)

result.to_csv('result.csv', index=False)

     pred
0    고등학생
1    초등학생
2     중학생
3    유치원생
4    고등학생
..    ...
225  초등학생
226  초등학생
227  고등학생
228  고등학생
229  초등학생

[230 rows x 1 columns]