# **분류 vs 회귀 문제**
## **1. 회귀 문제**
#### (1) MSE(Mean Squared Error): 제곱해 평균을 계산
#### (2) RMSE(Root Mean Squared Error): MSE의 제곱근
#### (3) MAE(Mean Absolute Error): 예측값과 실제값의 차이의 절댓값을 평균
## **2. 분류 문제**
#### (1) f1-score: 정밀도와 재현율의 조화 평균
#### (2) roc-auc: 곡선 아래 면적을 계산

In [1]:
from sklearn.metrics import mean_squared_error, mean_absolute_error

mse = mean_squared_error(y_true, y_pred)
rmse = mean_squared_error(y_true, y_pred, squared=False) # squared=False
mae = mean_absolute_error(y_true, y_pred)

NameError: name 'y_true' is not defined

In [ ]:
from sklearn.metrics import f1_score, roc_auc_score

f1 = f1_score(y_true, y_pred)
roc_auc = roc_auc_score(y_true, y_pred_prob)

In [4]:
# 라이브러리 
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

from pandas.core.common import random_state

from sklearn.metrics import roc_auc_score # 분류 
from sklearn.metrics import f1_score # 분류
from sklearn.metrics import mean_squared_error # 회귀
from sklearn.metrics import mean_absolute_error # 회귀

from sklearn.ensemble import RandomForestClassifier

!pip install xgboost
import xgboost as xgb

Requirement already satisfied: xgboost in c:\users\carly\anaconda3\lib\site-packages (2.1.3)
Requirement already satisfied: numpy in c:\users\carly\anaconda3\lib\site-packages (from xgboost) (1.26.4)
Requirement already satisfied: scipy in c:\users\carly\anaconda3\lib\site-packages (from xgboost) (1.11.4)

In [5]:
# 1유형 라이브러리 
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from collections import Counter

import datetime

# **회귀 모델**
### **이직 여부 예측**

In [6]:
import pandas as pd
import numpy as np

x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/y_train.csv")
x_test = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/X_test.csv")

In [7]:
x_train.head()

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
0,25298,city_138,0.836,Male,No relevent experience,Full time course,High School,NaN,5,100-500,Pvt Ltd,1,45
1,4241,city_160,0.920,Male,No relevent experience,Full time course,High School,NaN,5,NaN,NaN,1,17
2,24086,city_57,0.866,Male,No relevent experience,no_enrollment,Graduate,STEM,10,NaN,NaN,1,50
3,26773,city_16,0.910,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,50-99,Pvt Ltd,>4,135
4,32325,city_143,0.740,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,17

#### **1.결측치 확인** 
#### **2.데이터 타입 확인** 
#### **3.데이터 나누기(이산형 vs 범주형)** 
#### **4.데이터 스케일링**
#### **5.데이터 프레임 설정** 
#### **6.원핫인코딩**
#### **7.train_test_split(validation)**
#### **8.모델 학습**
#### **9.성능 평가**
#### **10.예측 및 csv파일 생성**

In [11]:
# 결측치 확인
print(x_train.isnull().sum())
print()
print(x_test.isnull().sum())
print()
print(y_train.isnull().sum())

enrollee_id                  0
city                         0
city_development_index       0
gender                    2917
relevent_experience          0
enrolled_university        257
education_level            315
major_discipline          1866
experience                  37
company_size              3852
company_type              3981
last_new_job               273
training_hours               0
dtype: int64

enrollee_id                  0
city                         0
city_development_index       0
gender                    1591
relevent_experience          0
enrolled_university        129
education_level            145
major_discipline           947
experience                  28
company_size              2086
company_type              2159
last_new_job               150
training_hours               0
dtype: int64

enrollee_id    0
target         0
dtype: int64

In [14]:
# id 저장 후 제거 
x_train = x_train.drop(columns=['enrollee_id'])
x_test = x_test.drop(columns=['enrollee_id'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12452 entries, 0 to 12451
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   city                    12452 non-null  object
 1   city_development_index  12452 non-null  float64
 2   gender                  9535 non-null   object
 3   relevent_experience     12452 non-null  object
 4   enrolled_university     12195 non-null  object
 5   education_level         12137 non-null  object
 6   major_discipline        10586 non-null  object
 7   experience              12415 non-null  object
 8   company_size            8600 non-null   object
 9   company_type            8471 non-null   object
 10  last_new_job            12179 non-null  object
 11  training_hours          12452 non-null  int64
dtypes: float64(1), int64(1), object(10)
memory usage: 1.1+ MB

In [15]:
# city_development_index 열 결측치 처리
mean_city_development_index_train = x_train['city_development_index'].mean()
x_train['city_development_index'].fillna(mean_city_development_index_train, inplace=True)

mean_city_development_index_test = x_test['city_development_index'].mean()
x_test['city_development_index'].fillna(mean_city_development_index_test, inplace=True)

# training_hours 열 결측치 처리
mean_training_hours_train = x_train['training_hours'].mean()
x_train['training_hours'].fillna(mean_training_hours_train, inplace=True)

mean_training_hours_test = x_test['training_hours'].mean()
x_test['training_hours'].fillna(mean_training_hours_test, inplace=True)